<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>OApen web - Related Articles</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="oapen-main" layout:fragment="content">

		<aside class="oapen-related-articles" th:fragment="linked" th:if="${not #lists.isEmpty(linked)}">

			<div class="title is-6 oapen-sheet-caption oapen-sidebar-caption">Related Articles</div>
			
			<hr class="is-hidden">

			<ul class="oapen-toc">

				<li th:each="article:${linked}">
					<a th:href="@{'/article/'+${article.slug}}"
					   th:text="${article.title}">article title</a>
				</li>

			</ul>

		</aside>

	</main>

</body>

</html>




