@charset "utf-8";

// Most of the styles are client side included from oapen.org

$purple: #c30000; 
$steelblue: #1d72aa;

// content heading sizes:
$h1size: 2rem;
$h2size: 1.45rem;
$h3size: 1.15rem;
$h4size: 1rem;
$h5size: .9rem;
$h6size: .9rem;


