<!DOCTYPE html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
	<title>Glossary</title>
</head>

<body>

	<main layout:fragment="content" class="oapen-main oapen-glossary" th:classappend="${bodyClass}">
		
		<div class="section">
		
			<div class="container">
		
				<div class="oapen-section-intro">
				
					<h3 class="title is-4" th:text="${sectiongroupnames[section?.groupNumber?:0]}">
						Header
					</h3>

					<h1>Glossary</h1>
					
					<th:block th:utext="${glossaryIntro}" >
						Intro text for glossary
					</th:block>
					
				</div>
			
			</div>
				
		</div>
		
		<!-- topics in this section -->
		<section class="section oapen-sheet-group oapen-shallow">
		
			<div class="container">
			
				<div class="oapen-sheet">
		
					<!--/* th:text="${sectiongroupnames[section?.groupNumber?:0]}" */-->
					<div class="title is-6 oapen-sheet-caption">
						Glossary Terms
					</div> 
					
					<hr class="is-hidden">
			
					<ul class="oapen-glossary-list columns is-multiline is-mobile">
						<li th:each="entry: ${glossary}" 
							class="oapen-glossary-letter column is-half-mobile is-one-third-tablet is-one-quarter-widescreen is-one-fifth-fullhd">
							<h2 th:text="${entry.key}">A</h2>
							<ul>
								<li th:each="articleOutline: ${entry.value}">
									<a th:href="@{'/glossary/article/'+${articleOutline.slug}}" th:utext="${articleOutline.title}">glossary term</a>
								</li>	
							</ul>
						</li>
					</ul>
					
				</div>	
			
			</div>
		
		</section>
		
	</main>		


</body>

</html>

