<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${section.name}">section name</title>
</head>

<body>

	<!--/* This view is used for 'faqs' and 'lifecycle' */-->

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="section oapen-main" th:classappend="${bodyClass}">

		<div class="container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
		
			<div class="content oapen-primary">

				<h1 th:text="${section.name}">Section name</h1>

				<div th:utext="${section.description}">
					Section description
				</div>

			</div>
			
			<nav class="oapen-section-expanded oapen-toc content">
	
				<div class="oapen-toc-header">
					<span th:text="${section.name}">Section</span> topics
				</div>
				
				<hr class="is-hidden"/>

				<ul class="oapen-topic-list" th:classappend="${#lists.size(section.topics) gt 7} ? 'oapen-two-col'">

					<li th:each="topic: ${section.topics}">
					
						<h2 th:text="${topic.name}" class="oapen-topic-header">
							topic name
						</h2>
	
						<ul>
							<li th:each="article: ${topic.articles}">
	
								<a th:href="@{'/'+${section.slug}+'/'+${topic.slug}+'/article/'+${article.slug}}"
								   th:text="${article.title}">article title</a>
							</li>
						</ul>
						
					</li>
				
				</ul>				

			</nav>

		</div>

	</main>

</body>

</html>




