<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- /* Content of this page will be decorated by the elements of layout.html (layout/main) */ -->
	<main layout:fragment="content" class="oapen-main oapen-home">

		<section class="section">

			<div class="container">
			
				<div class="columns">
				
					<div class="column is-three-fifths is-offset-one-fifth oapen-home-intro is-size-5" th:utext="${introText}">
						Home intro text
					</div>
					
				</div>

			</div>

		</section>
		
		<div class="section" th:replace="home/sectiongroups :: sectiongroups">Section Groups</div>

		<div class="section">

			<div class="container">

				<div class="columns is-desktop">

					<div class="column">

						<section class="oapen-home-spotlights">

							<div class="columns is-multiline is-desktop">

								<th:block th:insert="home/spotlights :: spotlights">
									Spotlights
								</th:block>
								
							</div>	

						</section>

					</div>

					<div class="column is-3-desktop">

						<div class="oapen-home-infobox">

							<th:block th:insert="home/infobox :: infobox">
								Info Box
							</th:block>

						</div>

					</div>

				</div>

			</div>

		</div>

		<span th:text="${ip}" style="display:none">your ip</span>

	</main>

</body>
</html>




