<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<!-- /* Content of this page will be decorated by the elements of layout.html (layout/main) */ -->
	<main layout:fragment="content" class="oapen-main home">

		<section class="section oapen-home-toolkit" style="margin-top:-1rem">

			<div class="container">
				<th:block th:insert="home/toolkit :: toolkit">
					Toolkit hero
				</th:block>
			</div>

		</section>

		<section class="section oapen-home-intro">

			<div class="container section">
				<p class="is-size-5" th:utext="${introText}">
					Home intro text
				</p>
			</div>

		</section>
		
		<section class="section oapen-home-lifecycle">

			<div class="container">
				<th:block th:insert="home/lifecycle :: lifecycle">
					Lifecycle
				</th:block>
			</div>

		</section>

		<div class="section">

			<div class="container">

				<div class="columns">

					<div class="column">

						<section class="section oapen-home-news">

							<div class="container">
							
								<div class="columns is-multiline is-desktop">

									<th:block th:insert="home/spotlights :: spotlights">
										Spotlights
									</th:block>
									
									<th:block th:insert="home/blogposts :: blogposts">
										Blog Posts
									</th:block>
									
								</div>	
								
							</div>

						</section>

					</div>

					<div class="column is-4">

						<section class="section oapen-home-news">

							<div class="container">
								<th:block th:insert="home/socialmedia :: socialmedia">
									Social Media
								</th:block>
							</div>

						</section>

					</div>

				</div>

			</div>

		</div>

		<span th:text="${ip}" style="display:none">your ip</span>

	</main>

</body>
</html>




