<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${section.name}">section name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="oapen-main" th:classappend="${bodyClass}">
		
		<div class="section">
		
			<div class="container">
		
				<div class="oapen-section-intro">
				
					<!--/* <div class="title is-4" th:text="${'Introduction ' + section.name}">Introduction ...</div> */-->
					<h3 class="title is-4">Introduction</h3>

					<div class="content" th:utext="${section.description}">
						Section description
					</div>
					
				</div>
			
			</div>
				
		</div>
		
		<!-- topics in this section -->
		<section th:each="topic: ${sectiontopics}"
			class="section oapen-sheet-group oapen-shallow">
		
			<div class="container">
			
				<div class="columns is-variable is-0">
			
					<div class="column is-three-fifths">
					
						<div class="oapen-sheet">
				
							<div class="title is-6 oapen-sheet-caption"
								th:text="${sectiongroupnames[section?.groupNumber?:0]}">
								Group Header
							</div> 
							
							<hr class="is-hidden">
							
							<div class="content">
							
								<h1>
									<a th:href="@{'/'+${section.slug}+'/'+${topic.slug}}" th:text="${topic.name}" >
										Topic name
									</a>	
								</h1>
		
								<div th:utext="${topic.description}">
									Topic Description
								</div>
								
								<div th:if="${!#strings.isEmpty(topic.description)}">
									<a class="oapen-readmore" th:href="@{'/'+${section.slug}+'/'+${topic.slug}}">
										read more&hellip;
									</a>
								</div>
							
							</div>
							
						</div>	
						
					</div>
					
					<div class="column">
					
						<div class="oapen-sheet">
					
							<div class="title is-6 oapen-sheet-caption">Articles</div> 
							
							<hr class="is-hidden">
						
							<ul class="oapen-toc oapen-toc-articles">
								<li th:each="article, istat: ${topic.articles}" th:if="${istat.index<2}">
									<a th:href="@{${'/'+section.slug}+'/'+${topic.slug}+'/article/'+${article.slug}}"
						   				th:text="${article.title}" class="oapen-toc-articles-title">article title</a>
						   			<div th:utext="${article.summary}">Summary</div>	
								</li>
								<li th:if="${topic.articles.size>2}">
									<a th:href="@{${'/'+section.slug}+'/'+${topic.slug}}" class="oapen-toc-articles-title"
									>more</a>
								</li>
							</ul>
						
						</div>
					
					</div>	
				
				</div>
				
			</div>
		
		</section>
		

	</main>

</body>
</html>




