<!DOCTYPE html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
	<title>Sitemap</title>
</head>
  
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout/main) */ -->
    <main layout:fragment="content" class="section oapen-main oapen-sitemap">

		<div class="container">
		
			<div class="content oapen-section-intro">
			
				<h1>Sitemap</h1>
				
				<p>
					If everything else fails you can still resort to our sitemap.
				</p>
			
			</div>

			<nav class="oapen-section-expanded content">
			
				<ul class="oapen-sitemap-list">
				
					<li th:each="section: ${sections}">

						<h2 class="oapen-topic-header">
							<a th:href="@{'/'+${section.slug}}" th:text="${section.name}">
								Section name
							</a>
						</h2>
						
						<ul>
							<li th:each="topic: ${section.topics}">
							
								<a th:href="@{'/'+${section.slug}+'/'+${topic.slug}}" th:text="${topic.name}" style="font-size:1.2em">
									topic name
								</a>
								
								<!-- /* 
								<span th:text="${topic.articles.size()}">3</span> */ -->

								<!-- Only list articles when more than one OR just one, but with a name different from the topic  -->
								<ul th:if="${topic.articles.size() > 1 || (topic.articles.size() > 0 && topic.articles[0].title != topic.name) }"
								 style="margin-bottom: 1em">
								
									<li th:each="article: ${topic.articles}">
								
										<!-- /* 		
										<span th:text="${topic.articleDisplay}">display_type</span> */ -->

										<a th:href="@{'/'+${section.slug}+'/'+${topic.slug}+'/article/'+${article.slug}}"
								   			th:text="${article.title}">article title</a>   
									</li>
									
								</ul>
								
							</li>
						</ul>

						<hr/>

					</li>

				</ul>

			</nav>

		</div>

	</main>

</body>
</html>

