<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Search</title>
</head>

<body>
	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" th:class="'oapen-main oapen-search oapen-section-0'" th:classappend="${bodyClass}">
		
		<div class="section">
		
			<div class="container">
		
				<div class="oapen-section-intro">
				
					<h3 class="title is-4" th:text="${sectiongroupnames[section?.groupNumber?:0]}">
						Header
					</h3>

					<h1>Search this site</h1>
					
					<form class="field has-addons oapen-search-form" th:action="@{'/sitesearch'}" method="get">
						<div class="control is-expanded">
							<input name="term" class="input is-dark" type="text" placeholder="Search this site" 
							 th:value="${param.term}" maxlength="200" title="search term">
						</div>
						<div class="control">
							<button class="button is-dark">
								<span class="icon is-small">
     								<i class="fas fa-search"></i>
   								</span>
							</button>
						</div>
					</form>
					
				</div>
			
			</div>
				
		</div>
		
		<!-- topics in this section -->
		<div class="section oapen-sheet-group oapen-shallow">
		
			<div class="container">
			
				<div class="oapen-sheet">	
				
					<div class="title is-6 oapen-sheet-caption">
						Search Results
					</div> 
					
					<hr class="is-hidden">
		
					<p th:if="${pagedResults.size()==0}" class="oapen-search-list-empty">
						<i class="fa-regular fa-face-thinking fa-xl"></i>
						No documents match your search terms
					</p>
				
					<p th:if="${searchError}" class="oapen-search-list-empty">
						<i class="fa-regular fa-face-thinking fa-xl"></i>
						No documents could be retrieved - try again later 
						(<span th:text="${searchError}">searchError</span>)
					</p>

					<ul class="oapen-search-list" th:if="${pagedResults.size()}">
					
						<li th:each="result,it: ${pagedResults}"
						    th:with="url=${result.section}+'/'+${result.topic}+'/article/'+${result.slug}"
						    class="oapen-search-list-item" 
						     th:classappend="${!it.first && pagedResults[it.index-1].slug == result.slug?'oapen-search-list-similar':''}">
						     	
					    	<div class="oapen-search-list-similar-header" 
					    		th:if="${!it.first && pagedResults[it.index-1].slug == result.slug}">similar results:
					    	</div>
					     
						    <div class="oapen-search-list-item-body"> 
						    
								<a th:href="${url}"> 
									<span th:text="${url}">https://domain/section/topic/article/1234</span>
									<h3 th:text="${result.title}">Title</h3>
								</a>
								<p>
									<span th:text="${#dates.format(result.updatedAt, 'dd-MM-yyyy HH:mm')}" class="oapen-search-result-date">date</span>
									<span th:utext="${result.text}">description</span>
								</p>
							
							</div>
							
						</li>
					</ul>
					
					
					<div class="oapen-search-nav" th:if="${pagedResults.size()}" style="text-align:center">
						
						<div>
							
							<a th:if="${prevPage >= 0}" th:href="@{''(term=${param.term},page=${prevPage})}"
							class="button">&lt;</a>
							<span th:if="${prevPage < 0}" class="button is-ghost">&lt;</span>
							
							<a th:if="${nextPage >= 0}" th:href="@{''(term=${param.term},page=${nextPage})}"
							class="button">&gt;</a>
							<span th:if="${nextPage < 0}" class="button is-ghost">&gt;</span>
							
						</div>
					
					</div>

				</div>										
				
			</div>

		</div>

	</main>

</body>

</html>




