<!DOCTYPE html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
	<title>Glossary</title>
</head>

<body>

	<!-- /* Content of this page will be decorated by the elements of layout.html (layout/main) */ -->
	<div layout:fragment="content" class="oapen-main oapen-keywords oapen-toolkit">
	
		<div class="section">

			<div class="container">
			
				<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>

				<div class="content oapen-primary">

					<h1>Glossary</h1>
					
					<div th:utext="${glossaryIntro}" >
						Intro text for glossary
					</div>
					
					<hr/>
	
					<ul class="oapen-keywords-list">
						<li th:each="entry: ${glossary}" class="oapen-keyword-letter">
							<div class="oapen-keyword-heading" th:text="${entry.key}">A</div>
							<ul>
								<li th:each="articleOutline: ${entry.value}">
									<a th:href="@{'/glossary/article/'+${articleOutline.slug}}" th:utext="${articleOutline.title}">glossary term</a>
								</li>	
							</ul>
						</li>
					</ul>

				</div>

			</div>

		</div>

	</div>

</body>

</html>

