<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>OApen web - Related Articles</title>
</head>

<body>

	<!--/* For use in ajax calls  */-->

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class=" section oapen-main" layout:fragment="content">
	
		<div class="container content">
		
			<h1 th:text="${topic.name}">Topic name</h1>

			<ul id="ArticleList" class="oapen-dropdown oapen-articlelist">
	
				<li th:each="article:${articles}">
					<a th:if="${section}" th:href="@{${'/'+section.slug}+'/'+${topic.slug}+'/article/'+${article.slug}}"
					   th:text="${article.title}">article title</a>
					<a th:if="${section==null}" th:href="@{'/'+${topic.slug}+'/article/'+${article.slug}}"
					   th:text="${article.title}">article title</a>
				</li>
				
				<li th:if="${hasMore}">
					<a th:if="${section!=null}" th:href="@{${'/'+section.slug}+'/'+${topic.slug}}">
						More&hellip;
					</a>
					<a th:if="${section==null}" th:href="@{${'/topic/'+topic.slug}}">
						More&hellip;
					</a>
				</li>	
	
			</ul>
			
		
		</div>

	</main>

</body>

</html>




